<h1>Welcome <%=username%></h1>
<h2>Choose your opponent</h2>
<ul>
	<%other_users.each do |u| %>	
		<li><button class="challenge" value="<%=u.username%>"><%=u.username%></button></li>
	<%end%>
</ul>

<h2>My Matches</h2>
<ul class="matches-list"> 
	<%user_matches.each_with_index do |m,i| %>
		<%if my_moves[i] != nil %>
			<div class="match" data-ref="<%=m.id%>"><%=RPS::User.find_by(id: m.user1).username%> vs <%=RPS::User.find_by(id: m.user2).username%></div>
			<div>My Move:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<button class="my-move" value="Rock" data-ref="<%=m.id%>"">Rock</button><button class="my-move" value="Paper" data-ref="<%=m.id%>">Paper</button><button class="my-move" value="Scissors" data-ref="<%=m.id%>"">Scissors</button> 
			</div>

			<!-- script for making the appropriate move green -->
			<script>
				var $myMoves = $(".match[data-ref='<%=m.id%>']").next().children('.my-move');
				$myMoves.each(function() {
					console.log($(this));
					//Be green
					if ($(this).val() == '<%=my_moves[i]%>') {
						$(this).css('background-color', 'green');
							
					}
					//disable it
					else {
						$(this).attr('disabled', 'true');
					}
				})
			</script>
		<%else %>
			<div class="match" data-ref="<%=m.id%>"><%=RPS::User.find_by(id: m.user1).username%> vs <%=RPS::User.find_by(id: m.user2).username%></div>
			<div>My Move:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<button class="my-move" value="Rock" data-ref="<%=m.id%>">Rock</button><button class="my-move" value="Paper" data-ref="<%=m.id%>">Paper</button><button class="my-move" value="Scissors" data-ref="<%=m.id%>">Scissors</button> 
			</div>
		<%end%>
		<%if enemy_moves[i] != nil%>
			<div>Enemy Move:
			<button class="enemy-move" value="Rock" data-ref="<%=m.id%>" disabled>Rock</button><button class="enemy-move" value="Paper" data-ref="<%=m.id%>"disabled>Paper</button><button class="enemy-move" value="Scissors" data-ref="<%=m.id%>" disabled>Scissors</button> </div>
			<div>Winner: <%=m.winner%></div>

			<!-- script for making the appropriate move green -->
			<script>
				var $enemyMoves = $(".match[data-ref='93']").next().next().next().children('.enemy-move');
				$enemyMoves.each(function() {
					console.log($(this));
					//Be green
					if ($(this).val() == <%=enemy_moves[i]%>) {
						$(this).css('background-color', 'green');

					}
					//disable it
					else {
						$(this).attr('disabled', 'true');
					}
				})
			</script>			
		<%else%>
			<div>Enemy Move:
			<button class="enemy-move" value="Rock" data-ref="<%=m.id%>" disabled>Rock</button><button class="enemy-move" value="Paper" data-ref="<%=m.id%>" disabled>Paper</button><button class="enemy-move" value="Scissors" data-ref="<%=m.id%>" disabled>Scissors</button> </div>
			<div>Winner: <%=m.winner%></div>
		<%end%>
	<%end%>
</ul>


<script>

//create match on clicking an opponent name
$('.challenge').on('click', function() {
	var myJSON = {};
	myJSON.user = "<%=username%>";
	var clickedPlayer = $(this).val();
	myJSON['opponent'] = clickedPlayer;
	//create the match and update the page straight away
		$.ajax({
			url: '/create_match',
			dataType: 'json',
			type: 'POST',
			data: myJSON,
			success: function(match) {
				console.log(match);
				var user1 = match.user1;
				var user2 = match.user2;
				var m_id = match.id;
				var html1  = '<div class="match" data-ref=' + m_id + '>' + user1 + ' vs ' + user2 + '</div>';
				var html2 = '<div>My Move:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button class="my-move" value="Rock" data-ref=""' + m_id + '>Rock</button><button class="my-move" value="Paper" data-ref=""' + m_id + '>Paper</button><button class="my-move" value="Scissors data-ref=""' + m_id +'>Scissors</button> </div>';
				var html3 = '<div>Enemy Move:<button class="enemy-move" value="Rock data-ref=""' + m_id + ' disabled>Rock</button><button class="enemy-move" value="Paper data-ref=""' + m_id + '" disabled>Paper</button><button class="enemy-move" value="Scissors" data-ref=""' + m_id + ' disabled>Scissors</button> </div>';
				var html4 = '<div> Winner:</div>';
				$('.matches-list').append(html1);
				$('.matches-list').append(html2);
				$('.matches-list').append(html3);
				$('.matches-list').append(html4);
				location.reload(true)
			}
		})			
})

//When you choose a move, disabled the other move buttons
$('.my-move').on('click', function() {
	var $buttons = $(this).parent().children();
	$(this).css('background-color', 'green');
	$buttons.each(function(){
		if ($(this).css('background-color') != "rgb(0, 128, 0)") {
			$(this).attr('disabled', 'true');
		}
	})

		//Send your move choice off to the database
		var myJSON = {};
		myJSON['username'] = '<%=username%>' ;
		myJSON['matchid'] = $(this).data('ref'); 
		console.log(myJSON['username']);
		var a = $(this).data('ref');
		myJSON['move'] = $(this).val();
		$.ajax({
			url: '/save_move',
			dataType: 'json',
			type: 'POST',
			data: myJSON
		})	

})


</script>
