<h1>Welcome <%=username%></h1>
<h2>Choose your opponent</h2>
<ul>
	<%other_users.each do |u| %>	
		<li><button class="challenge" value="<%=u.username%>"><%=u.username%></button></li>
	<%end%>
</ul>

<h2>Matches</h2>
<ul class="matches-list"> 
	<%user_matches.each do |m| %>
		<li><%=RPS::User.find_by(id: m.user1).username%> vs <%=RPS::User.find_by(id: m.user2).username%></li>
		<li>Winner: <%=m.winner%></li>
	<%end%>
</ul>

<script>

//create match on clicking an opponent name
$('.challenge').on('click', function() {
	var myJSON = {};
	myJSON.user = "<%=username%>";
	var clickedPlayer = $(this).val();
	myJSON['opponent'] = clickedPlayer;
		$.ajax({
			url: '/create_match',
			dataType: 'json',
			type: 'POST',
			data: myJSON,
			success: function(match) {
				var user1 = match.user1;
				var user2 = match.user2;
				var html1  = '<li>' + user1 + ' vs ' + user2 + '</li>';
				var html2 = '<li> Winner:</li>';
				console.log(match);
				$('.matches-list').append(html1);
				$('.matches-list').append(html2);
			},
		    error: function(){
	          alert("something went wrong");
	        }
		})			
})







</script>
