<h1>Welcome <%=username%></h1>
<h2>Choose your opponent</h2>
<ul>
	<%other_users.each do |u| %>	
		<li><button class="challenge" value="<%=u.username%>"><%=u.username%></button></li>
	<%end%>
</ul>

<h2>My Matches</h2>
<ul class="matches-list"> 
	<%user_matches.each_with_index do |m,i| %>
		<%if my_moves[i] != nil %>
			<div class="match" data-ref="<%=m.id%>"><%=RPS::User.find_by(id: m.user1).username%> vs <%=RPS::User.find_by(id: m.user2).username%></div>
			<div>My Move:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<button class="my-move" value="Rock">Rock</button><button class="my-move" value="Paper">Paper</button><button class="my-move" value="Scissors">Scissors</button> 
			</div>
			<!-- script for making the appropriate move green -->
			<script>
				var $my_move = $(".match[data-ref='<%=m.id%>']").next().children();
				console.log($my_move);
				$my_move.each(function() {
					//Be green
					if ($(this).val() == '<%=my_moves[i]%>') {
						$(this).css('background-color', 'green');				
						// $(this).trigger('click');
					}
					//disable it
					else {
						$(this).attr('disabled', 'true');
					}
				})
			</script>
		<%else %>
			<div class="match" data-ref="<%=m.id%>"><%=RPS::User.find_by(id: m.user1).username%> vs <%=RPS::User.find_by(id: m.user2).username%></div>
			<div>My Move:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<button class="my-move" value="Rock">Rock</button><button class="my-move" value="Paper">Paper</button><button class="my-move" value="Scissors">Scissors</button> 
			</div>
		<%end%>
		<%if enemy_moves[i] != nil%>
			<div>Enemy Move:
			<button class="enemy-move" value="Rock" disabled>Rock</button><button class="enemy-move" value="Paper"disabled>Paper</button><button class="enemy-move" value="Scissors" disabled>Scissors</button> </div>
			<div>Winner: <%=m.winner%></div>
		<%else%>
			<div>Enemy Move:
			<button class="enemy-move" value="Rock" disabled>Rock</button><button class="enemy-move" value="Paper"disabled>Paper</button><button class="enemy-move" value="Scissors" disabled>Scissors</button> </div>
			<div>Winner: <%=m.winner%></div>
		<%end%>

	<%end%>
</ul>

<script>

//create match on clicking an opponent name
$('.challenge').on('click', function() {
	var myJSON = {};
	myJSON.user = "<%=username%>";
	var clickedPlayer = $(this).val();
	myJSON['opponent'] = clickedPlayer;
		$.ajax({
			url: '/create_match',
			dataType: 'json',
			type: 'POST',
			data: myJSON,
			success: function(match) {
				console.log(match);
				var user1 = match.user1;
				var user2 = match.user2;
				var m_id = match.id;
				var html1  = '<div class="match" data-ref=' + m_id + '>' + user1 + ' vs ' + user2 + '</div>';
				var html2 = '<div>My Move:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button class="my-move" value="Rock">Rock</button><button class="my-move" value="Paper">Paper</button><button class="my-move" value="Scissors">Scissors</button> </div>';
				var html3 = '<div>Enemy Move:<button class="enemy-move" value="Rock" disabled>Rock</button><button class="enemy-move" value="Paper" disabled>Paper</button><button class="enemy-move" value="Scissors" disabled>Scissors</button> </div>';
				var html4 = '<div> Winner:</div>';
				$('.matches-list').append(html1);
				$('.matches-list').append(html2);
				$('.matches-list').append(html3);
				$('.matches-list').append(html4);
				location.reload(true)
			},
		    error: function(){
	          alert("something went wrong");
	        }
		})			
})

//When you choose a move, disabled the other move buttons
$('.my-move').on('click', function() {
	var $buttons = $(this).parent().children();
	$(this).css('background-color', 'green');
	$buttons.each(function(){
		if ($(this).css('background-color') != "rgb(0, 128, 0)") {
			$(this).attr('disabled', 'true');
		}
	})

		//Send your move choice off to the database
		var myJSON = {};
		myJSON['username'] = '<%=username%>' ;
		myJSON['matchid'] = $('.match').data('ref'); 
		myJSON['move'] = $(this).val();
		$.ajax({
			url: '/save_move',
			dataType: 'json',
			type: 'POST',
			data: myJSON
		})	

})






</script>
